body, html{
	height: 100%;
	width: 100%;
	margin: 0px;
}


.picture{
	width: 100%;
	height: 300px;
	position: relative;
	top: 30px;
	background-image: url("./Out Of Battery.png");
	background-size: cover;
	background-position: center;
	z-index: 0px
	
}



.mainText{
	position: relative;
	width: 70%;
	max-width: 500px;
	left: 50%;
	top: 40%;
	text-align: center;
	transform: translate(-50%,-50%);
}



.mainText h1{
	font-family: 'Domine', sans-serif, bold;
	z-index: 10px;
}

.mainText p{
	font-family: 'Roboto', serif;
	font-size: 14px;
}


.navigation{
	width: 40px;
	height: 60px;
}
.navigation a{
	display: none;
	text-decoration: none;
}


.navigation:hover{
	width: 100%;
	height: 60px;
	background-color: black;
}

.navigation:hover a{
	display: block;
	position: absolute;
	left: 10px;
	top: 20px;
	color: white;
	font-family: sans-serif, bold;
}


.card{
	border: #BBB 1px solid;
	border-radius: 30px;
}

.card img{
	width: 70%;
	padding: 30px 10px 0px 10px;
	max-width: 300px;

}


@media only screen and (max-width: 1024px) {
	.navigation{
		width: 100%;
		height: 60px;
		background-color: black;
	}

	.navigation a{
		display: block;
		position: absolute;
		left: 10px;
		top: 20px;
		color: white;
		font-family: sans-serif, bold;
	}	
}