body, html{
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;
	background-color: #14acc6;

}



.waitingVideo{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	
}


.waitingVideo img{
	height: 100vh;
	position: relative;
	left: 50%;
	transform:translateX(-50%);
	
}




.textOnTop{
	
	position: absolute;
	top: 65%;
	left: 49%;
	transform: translate(-50%, -50%)
}

.textOnTop button{
	cursor: pointer;
	background-color: transparent;
	font-family:   'Indie Flower', cursive;
	font-size: 20px;
	outline: none;
	border: none;
}

